.footer
  %ul.footer__boxes
    %li.footer__boxes__box
      %h2.footer__boxes__box__head FURIMAについて
      %ul
        %li
          %a
          = link_to " 会社概要（運営会社）"
        %li
          %a
          = link_to " プライバシーポリシー "
        %li
          %a
          = link_to " FURIMA利用規約 "
        %li
          %a
          = link_to " ポイントに関する関する特約 "
    %li.footer__boxes__box
      %h2.footer__boxes__box__head FURIMAを見る
      %ul
        %li
          %a
          = link_to " カテゴリー一覧 "
        %li
          %a
          = link_to " ブランド一覧 "
    %li.footer__boxes__box
      %h2.footer__boxes__box__head ヘルプ＆ガイド
      %ul
        %li
          %a
          = link_to " FURIMAガイド "
        %li
          %a
          = link_to " FURIMAロゴ利用ガイドライン "
        %li
          %a
          = link_to " お知らせ "
  .footer__logo
    %a.logo
      =link_to "#" do
        =image_tag src = "/assets/logo/logo-white.png",size: "160x46" 
  %p.footer__mark © FURIMA