.footer
  %ul.footer__boxes
    %li.footer__boxes__box
      %h2.footer__boxes__box__head FURIMAについて
      %ul
        %li
          = link_to " 会社概要（運営会社）","#"
        %li
          = link_to " プライバシーポリシー ","#"
        %li
          = link_to " FURIMA利用規約 ","#"
        %li
          = link_to " ポイントに関する関する特約 "
    %li.footer__boxes__box
      %h2.footer__boxes__box__head FURIMAを見る
      %ul
        %li
          = link_to " カテゴリー一覧 ","#"
        %li
          = link_to " ブランド一覧 ","#"
    %li.footer__boxes__box
      %h2.footer__boxes__box__head ヘルプ＆ガイド
      %ul
        %li
          = link_to " FURIMAガイド ","#"
        %li
          = link_to " FURIMAロゴ利用ガイドライン ","#"
        %li
          = link_to " お知らせ ","#"
  .footer__logo
    %a.logo
      =link_to "#" do
        =image_tag src = "/assets/logo/logo-white.png",size: "160x46" 
  %p.footer__mark © FURIMA