.top_page
  = render "header"
  = render "main_intro"
  = render "main_service"
  = render "main"
  = render "banner"
  = render "footer"

= link_to "#" do
  .camera-btm
    .camera-btm__text
      出品する
    .camera-btm__icon
      = image_tag src="/assets/icon/icon_camera.png", size: "54x54"
