.sides
  - @side.each do|c|
    .side__content-title
      = c
  
  %strong
    メルペイ
  .side1
    - @side1.each do|c|
      .side1__content-title
        = c

  %strong
    設定
  .side2
    - @side2.each do|c|
      .side2__content-title
        = c
    = link_to new_card_path do
      %p.side2__content-title 支払い方法
    = link_to "#" do
      %p.side2__content-title ログアウト
