.exhibitionPage
  .header
    = link_to image_tag("logo.png", alt: "exhibition_logo", class: "exhibition_logo"), "#"
  .exhibitionPage__main
    .exhibitionPage__main__contents
      =flash[:alert]
      = form_with(model: @item, local: true) do |form|
        .exhibitionPage__main__contents__image
          .exhibitionPage__main__contents__image__title
            %label.sab-title 出品画像
            %span.required 必須
            %p 最大10枚までアップロードできます
          .exhibitionPage__main__contents__image__explanation
            #preview
              - if @item.persisted?
                - @item.item_images.each_with_index do |item_image, i|
                  = image_tag item_image.image.url, data: { index: i }, width: "115", height: '118'
              = form.fields_for :item_images do |item_image|
                .js-file_group{"data-index" => "#{item_image.index}"}
                  = item_image.label :image, class: 'form__mask__image' do
                    .js-file_group__texts
                      = item_image.file_field :image, class: 'hidden'
                    .js-file_group__texts__text
                      .js-file_group__texts__text__icon
                        = icon('fas', 'camera fa-2x', class: 'icon')
                      .js-file_group__texts__text__instruction
                        クリックしてファイルをアップロード
                    %p.js-remove 削除
              - if @item.persisted?
                = item_image.check_box :_destroy, data:{ index: item_image.index }, class: 'hidden-destroy'
        .exhibitionPage__main__contents__product
          .exhibitionPage__main__contents__product__name-box
            .exhibitionPage__main__contents__product__name-box__name
              %label.sab-title 商品名
              %span.required 必須
            .exhibitionPage__main__contents__product__name-box__text
              = form.text_field :name, class: 'name__text', placeholder: '40文字まで'
          .exhibitionPage__main__contents__product__explanation-box
            .exhibitionPage__main__contents__product__explanation-box__explanation
              %label.sab-title 商品の説明
              %span.required 必須
            .exhibitionPage__main__contents__product__explanation-box__text
              = form.text_area :explain, class: 'explanation__text', placeholder: '商品の説明（必須1,000文字以内）&#13;&#10;（色、素材、重さ、定価、注意点など）&#13;&#10;&#13;&#10;例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせてやすいのでオススメです！'.html_safe 
        .exhibitionPage__main__contents__detail
          -# .exhibitionPage__main__contents__detail__title
            -# %h1 商品の詳細
          -# .exhibitionPage__main__contents__detail__category
          -#   .exhibitionPage__main__contents__detail__category__title
          -#     %label.sab-title カテゴリー
          -#     %span.required 必須
          -#   .exhibitionPage__main__contents__detail__category__choose
          -#     =form.select{:name => "category"}
          -#       %option{:value => ""} 選択してください
          -#       %option{:value => "1"} レディース
          -#       %option{:value => "2"} メンズ
          -#       %option{:value => "3"} ベビー・キッズ
          -#       %option{:value => "4"} インテリア・住まい・小物
          -#       %option{:value => "5"} 本・音楽・ゲーム
          -#       %option{:value => "6"} おもちゃ・ホビー・グッズ
          -#       %option{:value => "7"} コスメ・香水・美容
          -#       %option{:value => "8"} 家電・スマホ・カメラ
          -#       %option{:value => "9"} スポーツ・レジャー
          -#       %option{:value => "10"} ハンドメイド
          -#       %option{:value => "11"} チケット
          -#       %option{:value => "12"} 自動車・オートバイ
          -#       %option{:value => "13"} その他    
          -# .exhibitionPage__main__contents__detail__brand
          -#   .exhibitionPage__main__contents__detail__brand__title
          -#     %label.sab-title ブランド
          -#     %span 任意
          -#   .exhibitionPage__main__contents__detail__brand__text
          -#     = form.text_field :brand, class: 'brand_text', placeholder: '例）ユニクロ'
          .exhibitionPage__main__contents__detail__condition
            .exhibitionPage__main__contents__detail__condition__title
              %label.sab-title 商品の状態
              %span.required 必須
            .exhibitionPage__main__contents__detail__condition__choose
              =form.select :item_status, ["","新品、未使用","未使用に近い","目立った傷や汚れなし","目立った傷や汚れなし","やや傷や汚れあり","傷や汚れあり","全体的に状態が悪い"]
        .exhibition__delivery
          .exhibition__delivery__title
            配送について
          .exhibition__delivery__charges
            .exhibition__delivery__charges__top
              配送料の負担
              %span 必須
            .exhibition__delivery__charges__bottom
              =form.select :postage, ["","送料込み (出品者負担)","着払い (購入者負担)"]
          .exhibition__delivery__area
            .exhibition__delivery__area__top
              発送元の地域
              %span 必須
            .exhibition__delivery__area__bottom
              =form.select :prefecture, ["", "北海道","青森県","岩手県","宮城県","秋田県","山形県","福島県","茨城県","栃木県","群馬県","埼玉県","千葉県","東京都","神奈川県","新潟県","富山県","石川県","福井県","山梨県","長野県","岐阜県","静岡県","愛知県","三重県","滋賀県","京都府","大阪府","兵庫県","奈良県","和歌山県","鳥取県","島根県","岡山県","広島県","山口県","徳島県","香川県","愛媛県","高知県","福岡県","佐賀県","長崎県","熊本県","大分県","宮崎県","鹿児島県","沖縄県"]
          .exhibition__delivery__date
            .exhibition__delivery__date__top
              発送までの日数
              %span 必須
            .exhibition__delivery__date__bottom
              =form.select :shipping_date, ["","1~2日で発送","2~3日で発送","4~7日で発送"], class: "changes"
        .exhibition__price
          .exhibition__price__range
            価格（¥300〜9,999,999)
          .exhibition__price__info
            .exhibition__price__info__value
              販売価格
              %span.tag 必須
              %span.mark ¥
              =form.number_field :price, class: "changes", placeholder: "0"
            .exhibition__price__info__fee
              販売手数料（10%）
              %span -
            .exhibition__price__info__half-way
              -
            .exhibition__price__info__profit
              販売利益
              %span -
          .exhibition__price__selection
            =form.submit '投稿する', class: 'exhibition__price__selection.finish'
            %button.saving 下書きに保存
            =link_to "もどる",root_path
          .exhibition__price__rules
            禁止されている
            =link_to "行為","#"
            および
            =link_to "出品物","#"
            を必ずご確認ください。
            =link_to "偽ブランド品", "#"
            や
            =link_to "盗品物","#"
            などの販売は犯罪であり、法律により処罰される可能性があります。
            また、出品をもちまして
            =link_to "加盟店規約","#"
            に同意したことになります。
    .footer1
      .footer1__inner
        %nav.footer1__inner__nav
          %ul.footer1__inner__nav__category
            %li
              = link_to "プライバシーポリシー", "#", class: "privacyPolicy"
            %li
              = link_to "フリマ利用規約", "#", class: "terms"
            %li
              = link_to "特定商取引に関する表記", "#", class: "notation"
        = link_to image_tag("logo-white.png", alt: "login_logo", class: "login_logo"), root_path
        %p
          %small
            &copy Furima, Inc.