.authenticationPage
  .authenticationPage__header
    .authenticationPage__header__logo
      = link_to root_path do
        = image_tag "logo.png", class: "login_logo"
    .authenticationPage__header__progress
      %ul
        %li
          会員情報
        %li.active
          電話番号認証
        %li
          完了
      .authenticationPage__header__progress__bars
        .authenticationPage__header__progress__bars__1
          .authenticationPage__header__progress__bars__1__circle1
          .authenticationPage__header__progress__bars__1__circle2
        .authenticationPage__header__progress__bars__2
          .authenticationPage__header__progress__bars__2__circle3
  .authenticationPage__main
    .authenticationPage__main__contents
      %h2 電話番号の確認
      .authenticationPage__main__contents__form
        .authenticationPage__main__contents__form__title
          携帯電話の確認
          %span.authenticationPage__main__contents__form__require
            任意
        = form_with scope: 'user', model: @user, url: user_registration_path, local: true do |form|
          =form.text_field :number, placeholder: "例)09012345678", class: "authenticationForm"
          %p 電話番号を登録していただくことでアカウントのセキュリティーが向上します。
          =form.submit "次へ進む", class: "toNextBtn"
          %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。

  .authenticationPage__footer
    .authenticationPage__footer__inner
    %nav.authenticationPage__footer__inner__nav
      %ul.authenticationPage__footer__inner__nav__category
        %li
          = link_to "プライバシーポリシー", "#", class: "privacyPolicy"
        %li
          = link_to "フリマ利用規約", "#", class: "terms"
        %li
          = link_to "特定商取引に関する表記", "#", class: "notation"
      .authenticationPage__footer__inner__nav__logo
        = link_to root_path do
          = image_tag "logo-white.png"
        %p &copy Furima, Inc.