.signInHome
  .signInHome__header
    %h1
      = link_to root_path do
        = image_tag "logo.png", class: "login_logo"
  .signInHome__main
    .signInHome__main__contents
      %h2 新規会員登録
      .signInHome__main__contents__accounts
        = link_to new_user_registration_path , class: "mailBtn" do
          = icon('far fa-envelope', class: "mailIcon")
          メールアドレスで登録する  
        = link_to "#", class: "facebookBtn" do
          = icon('fab fa-facebook-square', class: "facebookIcon")
          Facebookで登録する
        = link_to "#", class: "googleBtn" do
          = icon('fab fa-google', class: "googleIcon")
          Googleで登録する
  .signInHome__footer
    .signInHome__footer__inner
    %nav.signInHome__footer__inner__nav
      %ul.signInHome__footer__inner__nav__category
        %li
          = link_to "プライバシーポリシー", "#", class: "privacyPolicy"
        %li
          = link_to "フリマ利用規約", "#", class: "terms"
        %li
          = link_to "特定商取引に関する表記", "#", class: "notation"
      .signInHome__footer__inner__nav__logo
        = link_to root_path do
          = image_tag "logo-white.png"
    %p
      %small
        &copy Furima, Inc.
